.card {
  width: 159px;
  height: 232px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.image {
  width: 159px;
  height: 170px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: black;
}
