.swiperButtonPrev {
    all: unset;
    position: absolute;
    top: 40%;
    left: 1%;
    z-index: 10;
}

.swiperButtonNext {
    all: unset;
    position: absolute;
    top: 40%;
    right: 1%;
    z-index: 10;
}

.elements {
    display: flex;
    justify-content: center;
    align-items: center;
}