.carouselWrapper [class$="-prev"],
.carouselWrapper [class$="-next"] {
  all: unset;
  position: absolute;
  top: 40%;
  z-index: 10;
  cursor: pointer;
}

.carouselWrapper [class$="-prev"] {
  left: 1%;
}

.carouselWrapper [class$="-next"] {
  right: 1%;
}

.carouselWrapper [class$="-next"].swiper-button-disabled,
.carouselWrapper [class$="-prev"].swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  top: 40%;
}

.elements {
  display: flex;
  justify-content: center;
  align-items: center;
}
